<!DOCTYPE html>
<html ng-app="moduleOne">
<head>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="java.js"></script>
	<title>Infinite Scroll</title>
</head>
<body ng-controller="controllerOne" >
<div onscroll="sc()" class="container">
	<h1>Calander Application</h1>
	

	<div ng-dblClick="showInput()" class="day" ng-repeat="day in week">
		<h3>Date</h3>
		<form ng-Show="dayInput" ng-submit="submit($event)">
			<input ng-model="app.info" type="text" placeholder="Appointment Information" >
			<input ng-show="dont"type="submit">
		</form>
		<ul  class="list">
			<li class="app" ng-repeat="app in day track by $index" ng-click="edit(app)">{{app.info}}
			<form ng-show="app.showEdit" ng-submit="editInfo(app)">
				<input ng-model="app.info" type="text" placeholder="Edit your Appointment">
				<input ng-show="dont" type="submit">
			</form>
			</li>
			
		</ul>
	
	</div>



</div>










</body>
</html>