<!DOCTYPE html>
<html ng-app="moduleOne">
<head>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="java.js"></script>
	<title>Infinite Scroll</title>
</head>
<body ng-controller="controllerOne">
<div class="container">
	<h1>Calander Application</h1>
	
	<div ng-click="showInput()" class="day">
		<h3>Date</h3>
		<form ng-submit="">
		<input ng-Show="dayInput" ng-model="appointment"type="text" placeholder="Appointment Information" >
		<submit ng-keyPress="submit">
		</form>
		<ul ng-show="list" class="list">
			<li class="app">{{appointment.one}}</li>
			<li>{{appointment.two}}</li>
			<li>{{appointment.three}}</li>
			<li>{{appointment.four}}</li>
		</ul>
	
	</div>



</div>










</body>
</html>